{% extends 'LVR/user/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %} 


{% block calendar %}

<div class="modal fade" id="inProgressModal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header px-lg-4">
        <h5 class="modal-title"> <i class="fas fa-code mx-1"></i>{% trans 'str_inDevelopment' %}</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body px-lg-4">
        <div class="row my-3">
          <div class="col-lg-7 text-center">
            <div class="alert alert-info">
              <h4 class="font-weight-bold">{% trans 'str_pageInDevelopment' %}</h4> 
            </div>
            <div class="py-2">
              <div class="row">
                <div class="col">
                  <div class="center py-3 h6"> 
                    {% trans 'str_Hello' %} {{ request.user.first_name|default:request.user }}!,{% trans 'str_pageInDevelopment1' %}
                  </div>
                  <div class="center py-2 h6"> {% trans 'str_pageInDevelopment2' %}</div>
                </div>
              </div>
            </div>
          </div>   
          <div class="col-lg-5 text-center">                
            <img class="" src="{% static 'LVR/assets/img/cherry-under-const.png' %}" alt="" width="200px">
          </div>
        </div>
        <div class="modal-footer justify-content-end px-sm-0 px-md-0 px-lg-0">
          <button class="btn btn-primary" type="button" data-dismiss="modal" aria-label="Close">{% trans 'str_gotIt' %}</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container py-5">  

  <div class="calendar shadow bg-white p-5">
    <div class="d-flex align-items-center">
      <i class="material-icons md-48 mr-2">date_range</i> 
      <h2 class="month font-weight-bold mb-0 text-uppercase">{% now "F Y"%}</h2>
    </div>
    <p class="font-italic text-muted mb-5">No events for today</p>
    <ol class="day-names list-unstyled">
      <li class="font-weight-bold text-uppercase">Dom</li>
      <li class="font-weight-bold text-uppercase">Lun</li>
      <li class="font-weight-bold text-uppercase">Mar</li>
      <li class="font-weight-bold text-uppercase">Mie</li>
      <li class="font-weight-bold text-uppercase">Jue</li>
      <li class="font-weight-bold text-uppercase">Vie</li>
      <li class="font-weight-bold text-uppercase">Sáb</li>
    </ol>
    
    <ol class="days list-unstyled">
      <li>
        <div class="date">1</div>
        <div class="event bg-success">Event con nombre largo</div>
      </li>
      <li>
        <div class="date">2</div>
      </li>
      <li>
        <div class="date">3</div>
      </li>
      <li>
        <div class="date">4</div>
      </li>
      <li>
        <div class="date">5</div>
      </li>
      <li>
        <div class="date">6</div>
      </li>
      <li>
        <div class="date">7</div>
      </li>
      <li>
        <div class="date">8</div>
      </li>
      <li>
        <div class="date">9</div>
      </li>
      <li>
        <div class="date">10</div>
      </li>
      <li>
        <div class="date">11</div>
      </li>
      <li>
        <div class="date">12</div>
      </li>
      <li>
        <div class="date">13</div>
        <div class="event all-day begin span-2 bg-warning">Nombre del evento</div>
      </li>
      <li>
        <div class="date">14</div>
      </li>
      <li>
        <div class="date">15</div>
        <div class="event all-day end bg-success">Nombre del evento</div>
      </li>
      <li>
        <div class="date">16</div>
      </li>
      <li>
        <div class="date">17</div>
      </li>
      <li>
        <div class="date">18</div>
      </li>
      <li>
        <div class="date">19</div>
      </li>
      <li>
        <div class="date">20</div>
      </li>
      <li>
        <div class="date">21</div>
        <div class="event bg-primary">Nombre del evento</div>
        <div class="event bg-success">Nombre del evento</div>
      </li>
      <li>
        <div class="date">22</div>
        <div class="event bg-info">Evento con nombre más largo</div>
      </li>
      <li>
        <div class="date">23</div>
      </li>
      <li>
        <div class="date">24</div>
      </li>
      <li>
        <div class="date">25</div>
      </li>
      <li>
        <div class="date">26</div>
      </li>
      <li>
        <div class="date">27</div>
      </li>
      <li>
        <div class="date">28</div>
      </li>
      <li>
        <div class="date">29</div>
      </li>
      <li>
        <div class="date">30</div>
      </li>
      <li>
        <div class="date">31</div>
      </li>
      <li class="outside">
        <div class="date">1</div>
      </li>
      <li class="outside">
        <div class="date">2</div>
      </li>
      <li class="outside">
        <div class="date">3</div>
      </li>
      <li class="outside">
        <div class="date">4</div>
      </li>
    </ol>
  </div>
</div>

{% endblock %}