{% extends 'LVR/user/base.html' %}
{% load static %}
{% load i18n %}


{% block moderate_posts %}




<div class="container-fluid">
    <h1 class="mt-4">{% trans 'ModeratePosts' %}</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"> 
            <a href="{% url 'dashboard' %}"> {% trans 'dashboard_mainTitle_dashboard' %}</a>&nbsp/&nbsp{% trans 'ModeratePosts' %} 
        </li>
    </ol>

    <section>
        {% if post_list %}
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="bg-dark text-white">
                    <tr class="text-center">
                        <!-- <th><i class="material-icons align-middle md-22">fact_check</i></th> -->
                        <th>{% trans 'dashboard_tableTitle_PostDetail' %}</th>
                        <th>{% trans 'dashboard_tableTitle_PostTitle' %}</th>
                        <th>{% trans 'dashboard_tableTitle_PostImage' %}</th>
                        <th>{% trans 'dashboard_tableTitle_PostCreatedDate' %}</th>
                        <th>{% trans 'dashboard_tableTitle_PostActions' %}</th>
                    </tr>
                </thead>
                {% if all_post_list >= 10 %}
                <tfoot class="bg-dark text-white">
                    <th>{% trans 'dashboard_tableTitle_PostDetail' %}</th>
                    <th>{% trans 'dashboard_tableTitle_PostTitle' %}</th>
                    <th>{% trans 'dashboard_tableTitle_PostImage' %}</th>
                    <th>{% trans 'dashboard_tableTitle_PostCreatedDate' %}</th>
                    <th>{% trans 'dashboard_tableTitle_PostActions' %}</th>
                </tfoot>
                {% endif %}
                <tbody>
                    {% for post in post_list %}
                    
                    <tr id="{{post.pk}}">
                        <td class="text-center"> <a href="{% url 'post_detail' post.category post.slug %}" target="_blank"> <i class="material-icons align-top md-inactive">open_in_new</i> </a> </td>
                        <td style="max-width: 350px;"> {{ post.title }} </td>
                        <td class="text-center"> 
                            <div data-toggle="tooltip" data-html="true" data-placement='bottom' title="{{ post.image.url}}">
                                <a href="{{ post.image.url }}" target="_blank"> <i class="material-icons align-top md-inactive">image</i> </a> 
                            </div>
                        </td>
                        <td> {{ post.created_date }} </td>
                        <td class="text-center">
                            <button id="approveBtn_in_moderate_{{post.pk}}" class="btn btn-sm btn-outline-success mx-1" type="button" data-postid="{{post.pk}}" data-posttitle="{{post.title}}" data-toggle="modal" data-target="#postActionsModal">
                                <i class="material-icons align-top">check</i>                                 
                            </button>

                            <!-- <div class="py-2">
                                <a class="btn btn-sm btn-outline-success px-1" href=""> 
                                    <i class="material-icons align-top">check</i> <sup><i class="small material-icons align-middle md-18">email</i></sup>
                                </a>
                            </div> -->

                            <button id="rejectBtn_in_moderate_{{post.pk}}" class="btn btn-sm btn-outline-danger mx-1" type="button" data-postid="{{post.pk}}" data-posttitle="{{post.title}}" data-toggle="modal" data-target="#postActionsModal">
                                <i class="material-icons align-top">close</i>                                 
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>              
        
        {% else %}
        <div class="container mt-3 py-lg-2">
            <h3 class="mt-5 text-center">Parece que aún no se ha escrito ningún artículo...</h3>            
            <div class="row d-flex justify-content-center py-1 py-sm-5 py-md-3 py-lg-1">
                <div class="col-lg-xs-12 col-lg-sm-12 col-lg-md-8 col-lg-5 col-lg-xl-6">
                    <div class="col text-center mt-3"> 
                        <div class="d-none d-sm-block">
                            <img class="" src="{% static 'LVR/assets/img/cherry-no-posts-tom.png' %}" alt="" width="370">
                        </div>
                        <div class="d-block d-sm-none">
                            <img class="" src="{% static 'LVR/assets/img/cherry-no-posts-tom.png' %}" alt="" width="300">
                        </div>                    
                    </div>
                </div>
            </div>
        </div> 
        {% endif %}                      
    </section>


    {% if post_list %}
    <div class="row container d-flex justify-content-center align-items-center mt-3 py-3 bottom-pagination">
        <div class="pt-4 pb-5 mb-5">
            {% if post_list.has_other_pages %}
            <ul class="pagination pagination-lg justify-content-center">
                {% if post_list.has_previous %}
                <li><a href="?page={{ post_list.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if post_list.has_next %}
                <li><a href="?page={{ post_list.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
            {% endif %}
            <span class="row d-flex- justify-content-center lead text-muted"> Página {{ post_list.number }} de {{ post_list.paginator.num_pages }}</span>
        </div>
    </div>
    {% endif %}

</div>


{% endblock %}