{% extends 'LVR/user/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %} 


{% block profile %}

    <div class="my-5">
        <div class="row my-3">
            <div class="col-md-5 col-xl-4">
    
                <div class="card">
                    <div class="card-header"> 
                           
                        <div class="row my-1 text-center text-lg-left">               
                            <div class="col-lg-3" >
                                
                                <div class="row text-center">
                                    <div class="col">                            
                                        <img class="mt-1 rounded-circle" src="{{ author.image.url }}" width="70" height="70">
                                    </div>   
                                </div>  
                            </div>
                        
                            <div class="col-lg-9 mt-xs-1 mt-sm-3 mt-md-2 mt-lg-1">
                                <div class="ml-0 ml-lg-0">
                                    <h4 class="font-weight-bold mt-1 mb-0"> {% trans 'dashboard_DropDown_Settings' %} </h4>
                                    <h5> <small> {{ request.user}} </small> </h5>
                                </div>
                            </div>
            
                        </div>

                    </div>
    
                    <div class="list-group list-group-flush" role="tablist">
                        
                        <a id="settings_profile" class="list-group-item list-group-item-action active" data-toggle="list" href="#profile" role="tab">
                          <div class="h6"> {% trans 'dashboard_DropDown_Profile' %}  </div>
                        </a>

                        <a id="settings_account" class="list-group-item list-group-item-action" data-toggle="list" href="#account" role="tab">
                            <div class="h6"> {% trans 'dashboard_Settings_accountSettings' %} </div>
                        </a>

                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
                            <div class="h6"> {% trans 'dashboard_Settings_securityPass' %} </div>
                        </a>
                        <a id="settings_notifications" class="list-group-item list-group-item-action" data-toggle="list" href="#under_dev" role="tab">
                            <div class="h6"> {% trans 'dashboard_Notifications' %} </div>
                        </a>

                        <a id="settings_widgets" class="list-group-item list-group-item-action" data-toggle="list" href="#under_dev" role="tab">
                            <div class="h6"> Widgets </div>
                        </a>

                        <a id="settings_delete_acc" class="list-group-item list-group-item-action" data-toggle="list" href="#under_dev" role="tab">
                            <div class="h6"> Borrar cuenta </div>
                        </a> 
                        
                    
                                                
                    </div>


                    <div class="card-footer">
                        <div class="container row d-flex d-inline">
                            <div class="h6 text-muted mt-1 mr-2"> {% trans 'setting_language' %}: </div>
                            
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                                <select name="language" class="form-control form-control-sm" style="max-width: 110px; height: 30px;" onchange="this.form.submit()">
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                    {% endfor %}
                                </select>
                            </form> 

                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-7 col-xl-8">
                <div class="tab-content mt-3 mt-lg-0">
                    <!-- Profile -->
                    <div class="tab-pane fade show active" id="profile" role="tabpanel">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">    
                                <h5 class="card-title mb-0">Información pública</h5> 
                                {% if not request.user.is_superuser %}
                                <a href="{% url 'author_detail' author.slug %}" target="_blank"> 
                                    <button type="button" class="btn btn-sm btn-primary">{% trans 'dashboard_Settings_seeProfile' %}</button> 
                                </a> 
                                {% endif %}                            
                            </div>
                            <div class="card-body">
                                <form id="profile_frm" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="ml-1" for="profile_firstName">{{ProfileUserForm.first_name.label}}</label>
                                                    {{ProfileUserForm.first_name}}
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="ml-1" for="profile_lastName">{{ProfileUserForm.last_name.label}}</label>
                                                    {{ProfileUserForm.last_name}}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="ml-1" for="profile_title">{{ProfileAuthorUserForm.title.label}}</label>
                                                {{ProfileAuthorUserForm.title}}
                                            </div>

                                            <div class="form-group">
                                                <label class="ml-1" for="profile_bio">{{ProfileAuthorUserForm.bio.label}}</label>
                                                {{ProfileAuthorUserForm.bio}}
                                            </div>


                                            <div data-toggle="tooltip" data-html="true" data-placement='right' title="Esta sección es opcional y puedes colocar perfiles personales o de trabajo; si no quieres mostrar algún campo simplemente déjalo en blanco">                                        
                                                <div class="bd-callout bd-callout-secondary">
                                                    <div class="form-group pt-1">
                                                        <label class="ml-1" for="profile_mail"> {{ProfileAuthorUserForm.email.label}} <a href="#" type="button" data-toggle="modal" data-target="#generalModal" style="color:#5A5A5A"> <i id="showEpublic" class="fas fa-info-circle fa-lg mr-1"> </i> </a>  </label>                                                        
                                                        <!-- if author.email == request.user.email -->
                                                        <div class="input-group">
                                                            {{ProfileAuthorUserForm.email}}
                                                        </div>

                                                        <div class="modal fade" id="generalModal" tabindex="-1" role="dialog" aria-labelledby="generalModal" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header px-lg-5">
                                                                        <h5 class="modal-title" id="prblm_form_title">¿Qué es el email público?</h5>
                                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                    </div>
                                                                    <div class="modal-body px-lg-5">
                                                                          <div class="row my-3">
                                                                            <div class="col">
                                                                                <h6>Al crear tu cuenta, el email público y privado es el mismo (y ninguno aparecerá en <a href="{% url 'author_detail' author.slug %}" target="_blank">tu perfil</a> hasta que guardes los cambios). Puedes configurar un email público diferente al privado o puedes omitirlo dejando en blanco el cuadro de texto; esta acción no afectará a tu email privado.</h6>
                                                                            </div> 
                                                                        </div>
                                                                        <div class="modal-footer justify-content-end px-sm-0 px-md-0 px-lg-0">
                                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Ok' %}</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                            
                                                    </div>
                                                
                                                    <div class="form-group pt-2">    
                                                        <label class="ml-1">Redes sociales</label>
                                                        <div class="input-group">                          
                                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fab fa-facebook-square fa-lg"></i></span></div>
                                                            {{ProfileAuthorUserForm.facebook_URL}}
                                                        </div>            

                                                        <div class="input-group py-2">
                                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fab fa-twitter-square fa-lg"></i></span></div>
                                                            {{ProfileAuthorUserForm.twitter_URL}}
                                                        </div>

                                                        <div class="input-group">
                                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fab fa-linkedin fa-lg"></i></span></div>
                                                            {{ProfileAuthorUserForm.linkedin_URL}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="text-center">
                                                <div class="author-d-profile">
                                                    <img src="{{author.image.url}}" class="rounded-circle img-responsive my-3" width="128" height="128">
                                                    <p id="author_img">{{author.image}}</p>
                                                    <div class="pb-3 mx-3">{{ProfileAuthorUserForm.image}}</div>
                                                </div>
                                                <div class="row mt-3"> 
                                                    <div class="col">
                                                        <small> {{ProfileAuthorUserForm.image.help_text}}</small>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <button type="submit" class="btn btn-primary my-1">{% trans 'saveChanges' %}</button>
                                </form>
                            </div>
                        </div>    
                    </div>

                    <!-- Account -->
                    <div class="tab-pane fade" id="account" role="tabpanel">
                        <div class="card">
                            <div class="card-header"> <h5 class="card-title mb-0"> Mi cuenta </h5> </div>
                            <div class="card-body">
                                <form id="account_frm">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="acc_username">{{AccountForm.username.label}}</label>
                                        {{AccountForm.username}}
                                    </div>

                                    <div class="form-group">
                                        <label for="acc_email">{{AccountForm.username.label}}</label>
                                        {{AccountForm.email}}
                                    </div>

                                    <hr class="mx-1 my-4"> 

                                    <div class="mx-2 py-2 mb-4">
                                        <h6 class="text-muted"> <small> {% trans 'dashboard_Settings_joinedDate' %}: {{ request.user.date_joined }} </small> </h6>
                                        <h6 class="text-muted"> <small> {% trans 'dashboard_Settings_lastLogin' %}: {{ request.user.last_login }} </small> </h6>
                                    </div>

                                    <button type="submit" class="btn btn-primary my-1"> {% trans 'saveChanges' %} </button>    
                                </form>
                            </div>
                        </div>

                        <div class="mt-3 card">
                            <div class="card-header"> <h5 class="card-title mb-0"> Permisos que tiene mi cuenta </h5> </div>
                            <div class="card-body">
                                <div id="accordion">
                                    
                                    <div class="card">
                                        <div class="card-header" id="show_permissions">
                                            <h3 class="card-title mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_perms" aria-expanded="true" aria-controls="collapseTwo">
                                                    <i class="material-icons align-top">keyboard_arrow_down</i> {% trans 'dashboard_Settings_SM_show' %} 
                                                </button>
                                            </h3>
                                        </div>
                                        <div id="collapse_perms" class="collapse" aria-labelledby="show_permissions" data-parent="#accordion">
                                            <div class="py-2 px-2">

                                                {% for perm in permissions %}
                                                <div class="input-group py-1">
                                                    <input placeholder="{{perm}}" class="form-control" type="text" readonly disabled>
                                                </div>
                                                {% endfor %} 
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>                               
                            </div>
                        </div>

                    </div>

                    <!-- Password -->
                    <div class="tab-pane fade" id="password" role="tabpanel">
                        <div class="card">
                            <div class="card-header"> <h5 class="card-title mb-0"> Modificar o recuperar contraseña </h5> </div>
                            <div class="card-body">
                                
                                
                                <div class="row">
                                    <div class="col-md-12">

                                        <h4 class="font-weight-bold my-2 mb-4"> Selecciona la opción que más se ajuste a tus necesidades</h4>

                                        <div class="container row d-flex justify-content-between">


                                            <div class="float-right" data-toggle="tooltip" data-html="true" data-placement='bottom' title="Modifica tu contraseña actual a una diferente o a una más segura">
                                                <a href="{% url 'password_change' %}" target="_blank" class="btn btn-sm btn-primary my-3 py-2">
                                                    <i class="material-icons align-top mr-1">edit</i> Cambiar contraseña
                                                </a> 
                                            </div>

                                            <div class="float-right" data-toggle="tooltip" data-html="true" data-placement='bottom' title="Recibe en tu email un enlace para resetear tu contraseña en caso olvidadarla">
                                                <a href="{% url 'password_reset'%}" target="_blank" class="btn btn-sm btn-primary my-3 py-2">
                                                    <i class="material-icons align-top mr-1">refresh</i> 
                                                    Restablecer contraseña
                                                </a> 
                                            </div>


                                           

                                           
                                        </div>

                                         
                                    </div>
                                </div>
                                
                           
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="under_dev" role="tabpanel">
                        <div class="card">
                            <div class="card-header"> <h5 class="card-title mb-0">Under development</h5> </div>
                            <div class="card-body">
                                <div class="row my-3">
                                    <div class="col-lg-7 text-center">
                                        <div class="alert alert-info">
                                            <h4 class="font-weight-bold">Esta sección sigue en desarrollo</h4> 
                                        </div>
                                        <div class="py-2">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="center py-3 h6"> 
                                                        ¡Hola {{ request.user.first_name|default:request.user }}!
                                                        Lo sentimos mucho, pero esta sección de ajustes aún sigue en fase de desarrollo. Eso significa que aún no está terminada y su funcionamiento podría ser limitado, nulo o podría contener errores
                                                    </div>
                                                    <div class="center py-2 h6"> 
                                                        Pronto quedará lista y será otro <i>feature</i> más en tus ajustes, mantente pendiente a los cambios
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="col-lg-5 text-center">                
                                        <img class="" src="{% static 'LVR/assets/img/cherry-under-const.png' %}" alt="" width="200px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    
    </div>

    
   



    



    <div id="toastMessage" class="toast mr-2 mb-2 shadow border-info" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="3000" style="position: fixed; bottom: 0; right:0;  z-index:1111;">
        <div class="toast-header bg-info text-white">
            <i class="fas fa-info-circle fa-lg mr-1"></i> 
            <strong class="mr-auto">En desarrollo</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="toast-body">Esta función aún no se encuentra disponible</div>
    </div>



{% endblock %}