{% extends 'LVR/misc/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %} 


{% block description %}{{misc.head_desc}}{% endblock %}
{% block title %}{{misc.name}} | Le vélo rouge{% endblock %}




{% block privacy_policy %}


<!-- <section class="bg-gray-600"> -->
<section class="bg-cover bg-center" style="background-image: url({{misc.bgImage}});">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-12 py-5">
                <h1 class="misc-hero-title text-white font-weight-bold py-2">{{misc.name}}</h1>
                <h6 class="h6 text-white lead">Ultima vez actualizado: {{misc.date}}</h6>
            </div>
        </div>
    </div>

        
    <div class="container pb-5">
        <div class="card col-lg-12 my-1 mb-4 shadow-lg">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-left my-4">
                        <h3 class="section-heading font-weight-bold text-uppercase"> {{misc.name}} de <strong> Le vélo rouge</strong> </h3>
                        <h5 class="my-5 pr-5">
                            {{misc.content|safe}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}