{% load static %}
{% load i18n %}
{% load crispy_forms_tags %} 

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if sent_successfully %}
  <title>Email sent successfully</title>
  {% else %}
  <title>Error while sending email</title>
  {% endif %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'LVR/assets/css/styles.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'LVR/assets/favicon/rneg-icon.ico' %}"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<body>
   


{% if sent_successfully %}
<div class="mx-5 py-4 mt-3">
    <div class="card shadow border-success rounded">
        <div class="row mx-3 my-5">
            <div class="col-lg-7 text-center">
                <div class="alert alert-success">
                    <h2 class="font-weight-bold"> {% trans 'EmailSent_success' %} </h2> 
                </div>
                
                <h5 class="text-muted"> {% trans 'EmailSent_AfewStepsMore' %} </h5>
                
                <div class="container py-4">
                    <div class="row">
                        <div class="col">
                            <ol class="center">
                                <div class="h5">
                                    <li> {{first_name}} {% trans 'EmailSent_Step1_part1' %} (<b>{{email}}</b>)  {% trans 'EmailSent_Step1_part2' %} </li>
                                    <li class="py-3"> {% trans 'EmailSent_Step2' %} </li>
                                    <li> {{first_name}} {% trans 'EmailSent_Step3' %} </li>
                                </div>
                                
                            </ol>
                        </div>
                    </div>
                    
                </div>
                
                <div class="pt-2 pb-5  justify-content-center">
                    <a href="{% url 'signup' %}" class="py-1 my-1 btn btn-primary btn"> {% trans 'EmailSent_CTA_newAuthor' %} </a>
                    <a href="{% url 'index' %}" class="py-1 my-1 mx-3 btn btn-primary btn">  {% trans 'str_dashboard_goToPage' %} </a>
                    <a href="{% url 'dashboard' %}" class="py-1 my-1 btn btn-primary btn"> {% trans 'EmailSent_CTA_gotoDashboard' %} </a>
                </div>
            </div>   
            <div class="col-lg-5 text-center mt-3">                
                <img class="" src="{% static 'LVR/assets/img/cherry-email-sent.png' %}" alt="" width="430px">
            </div>
        </div>
    </div>
</div>
 
{% else %}
<div class="mx-4 py-4 mt-3">
    <div class="card shadow border-danger rounded">
        <div class="row mx-3 my-5">
            <div class="col-lg-7 text-center">
                <div class="alert alert-danger">
                    <h2 class="font-weight-bold"> {% trans 'EmailSent_failed' %} </h2>
                    <span class="font-weight-light h5">
                        <!-- <a href="" class="font-weight-light h5">{% trans 'Clic2Retry' %}</a> -->
                        {% trans 'EmailSent_failed_tryThis' %}:
                    </span>
                </div>
                
                
                <div class="container py-4">
                    <div class="row">
                        <div class="col">
                            <ul class="center">
                                <div class="h5">
                                    <li> {% trans 'EmailFailed_Step1' %} </li>
                                    <li class="py-3"> {% trans 'EmailFailed_Step2' %} </li>
                                    <li> {{first_name}} {% trans 'EmailFailed_Step3' %} </li>
                                </div>
                                
                            </ul>
                        </div>
                    </div>
                    
                </div>
                
                <div class="pt-2 pb-5  justify-content-center">

                    <a href="{% url 'signup' %}" class="py-1 my-1 btn btn-primary btn"> {% trans 'EmailFailed_CTA_newAuthor' %} </a>
                    <a href="{% url 'index' %}" class="py-1 my-1 mx-3 btn btn-primary btn">  {% trans 'str_dashboard_goToPage' %} </a>
                    <a href="{% url 'dashboard' %}" class="py-1 my-1 btn btn-primary btn"> {% trans 'EmailSent_CTA_gotoDashboard' %} </a>
                </div>
            </div>   
            <div class="col-lg-5 text-center mt-3">   
                <img class="" src="{% static 'LVR/assets/img/cherry-email-not-sent.png' %}" alt="" width="430px">
            </div>
        </div>
    </div>
</div>

{% endif %}

</body>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/0b5e6aae1f.js" crossorigin="anonymous"></script>

<script> $(document).ready(function(){ $('[data-toggle="tooltip"]').tooltip(); }); </script>

</html>