{% extends 'LVR/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %} 



{% block title %} Acerca de | Le vélo rouge {% endblock %}



{% block about %}
<div class="container">
    <div class="my-3 py-5">    
        <div class="card col-lg-12">
            <div class="card-body px-2">
                <div class="mx-0 mx-sm-2 mx-lg-3">
                    <div class="row d-flex justify-content-center justify-content-md-start justify-content-lg-start">
                        <div class="col-lg-7 text-center text-lg-left my-4">
                            <h3 class="font-weight-bold text-uppercase"> {% trans 'about_title' %} <strong> Le vélo rouge</strong> </h3>
                            <h5 class="my-5 pr-0 pr-md-3 pr-lg-5 text-left">
                                El blog nació con la idea de compartir conocimiento con el mundo. Aquí hablamos de todo con todos, la ubicación 
                                o idiomas no son barrera para estar informados y conocer otro punto de vista. Los temas son selectos cuidadosamente 
                                si es que se consideran relevantes, desde información que puede ser útil hasta temas selectos para inversionistas, 
                                pasando por tutoriales, reviews, consejos, etc. Son temas diferentes pero que tienen algo en común: estar disponibles 
                                a los lectores y a todo el público en general. <br> <br>  Explora el blog a tu antojo, lee los posts que gustes, dejan
                                algún comentario y conoce toda la información que está disponible para ti. 
                            </h5>

                            <div class="row d-flex justify-content-center justify-content-lg-start">
                                <div class="col">
                                    <a href="{% url 'tags' %}" class="btn btn-primary btn-xl text-uppercase mr-0 mr-md-2 mr-lg-2 my-2"> <i class="material-icons align-top">label</i> Explora los tags</a>
                                    <a href="{% url 'categories' %}" class="btn btn-primary btn-xl text-uppercase my-2"> <i class="material-icons align-top">category</i> Explora las categorías</a>    
                                </div>
                            </div>        
                        </div>
    
                        <div class="col-lg-5 text-center text-lg-left my-4 pt-5 pt-lg-0">
                            <h3 class="font-weight-bold text-uppercase"> {% trans 'about_MTTeam_title' %} </h3>
                            <h6 class="text-muted mb-5">{% trans 'about_MTTeam_subtitle' %}<b>&nbspLE VÉLO ROUGE</b>!</h6>
                            {% for crew_member in crew %}
                            <div class="row d-flex justify-content-center justify-content-lg-start pb-4">     
                                <div class="col-auto px-lg-1 mx-sm-2">
                                    <div class="author">
                                        <img class="circle-rounded" src="{{crew_member.image.url}}" width="110" height="110">
                                    </div>
                                </div>
                                
                                <div class="col-auto">
                                    <div class="detailsAuthor text-lg-left">
                                        <div class="px-2 px-md-2 px-lg-0 mx-0 mt-3">
                                            <h6 class="font-weight-bold">{{crew_member.name}}</h6>
                                            <p>{{crew_member.title}}</p>
                                        </div>
                                        <ul class="list-unstyled list-inline">

                                            
                                            {% if crew_member.email %}
                                            <li class="list-inline-item"><a href="{{crew_member.email}}"><i class="fas fa-envelope fa-2x"></i></a></li>
                                            {% endif %}

                                            {% if crew_member.facebook_URL %}
                                            <li class="list-inline-item"><a href="{{crew_member.facebook_URL}}" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
                                            {% endif %}

                                            {% if crew_member.instagram_URL %}
                                            <li class="list-inline-item"><a href="{{crew_member.instagram_URL}}" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
                                            {% endif %}
                                            
                                            {% if crew_member.twitter_URL %}
                                            <li class="list-inline-item"><a href="{{crew_member.twitter_URL}}" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
                                            {% endif %}

                                         

                                        </ul>                                        
                                    </div> 
                                </div>                           
                            </div>
                            {% endfor %}  
    
                            <a href="{% url 'authors' %}" class="btn btn-primary btn-xl text-uppercase my-3 mt-4"> {% trans 'about_meetEditors' %} </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
