{% extends 'LVR/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %} 



{% block title %} Autores | Le vélo rouge {% endblock %}



{% block authors %}

<div class="card mt-5 col-lg-12">
    <div class="card-body">
        <section  id="contact">
            <div class="container">
                <div class="row py-5 mt-2 mb-1 justify-content-between"> 
                    <h1 class="ml-4"> <b> ELLOS HACEN POSIBLE ESTE BLOG </b> </h1> 
                    {% if request.user.is_superuser %}
                    <a href="{% url 'signup' %}" class="mt-2"> <span> <button type="button" class="btn btn-dark"> <i class="material-icons align-top">add_box</i> {% trans 'authors_NewAuthor' %} </button> </span></a> 
                    {% endif %}
                </div>               

                <div class="row justify-content-center align-items-center">
                    {% for item in authors_list %}
                    <div class="col-4 py-3">
                    {% for k, v in item.items %}
                        <div class="author-list text-center">
                            {% if k == 'author' %}
                            <div class="row justify-content-center align-items-center">
                                <a href="{% url 'author_detail' v.slug %}"> 
                                    <img class="rounded-circle" src="{{ v.image.url }}" alt="" width="155px">
                                </a>
                            </div>
                            <div class="row mt-2 py-2">
                                <div class="col">
                                    <h4> <a href=" {% url 'author_detail' v.slug %} "> {{ v.name.get_full_name }} </a> </h4>
                                    <h5> {{ v.title }} </h5>
                                </div>
                            </div>
                            {% endif %}
                            {% if k == 'posts' %}
                            <div class="row">
                                <div class="col">
                                    {% if v %}
                                    <h6> {% trans 'authors_PublishedPosts' %}: {{ v }} </h6>
                                    {% else %}
                                    <h6> {% trans 'authors_NoPostsYet' %} </h6>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>                      
                    {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</div>

<!-- <div class="row container d-flex justify-content-center align-items-center py-3 mb-2 bottom-pagination"> -->
<div class="col d-flex justify-content-center py-5">
    <div class="pt-2">
        {% if authors_list.has_other_pages %}
        <ul class="pagination pagination-lg justify-content-center">
            {% if authors_list.has_previous %}
            <li><a href="?page={{ post_list.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if authors_list.has_next %}
            <li><a href="?page={{ authors_list.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}
        <span class="row d-flex- justify-content-center lead text-muted"> Página {{ authors_list.number }} de {{ authors_list.paginator.num_pages }}</span>
    </div>
</div>

{% endblock %}
