
{% extends 'LVR/base.html' %}
{% load static %}
{% load i18n %} 



{% block title %} Tags | Le vélo rouge {% endblock %}



{% block tags %}

<div class="container mt-3">
    <h2 class="mt-2 font-weight-bold"> {% trans 'tags_NewTag_title' %} </h2>
    <p> {% trans 'tags_NewTag_subtitle' %} </p>
    <hr class="my-3 py-2">

    <div class="row mt-2 mb-5">
        <div class="col-12 col-lg-7">
            <div class="card text-align-center">
                <div class="card-body d-inline-block">
                    {% for tag in all_tags %}
                        <a class="my-2 mx-2 d-inline-block" href="{% url 'tags_detail' tag.slug %}"> <h1> <span class="badge badge-secondary"> {{ tag }} </span></h1> </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div> 

{% endblock %}

